*.ini
video_aulas/Programação_de_Aplicações_WEB_Aula_01.webm
video_aulas/Programação_de_Aplicações_WEB_Aula_02.webm
video_aulas/Programação_de_Aplicações_WEB_Aula_04.mp4
video_aulas/Programação_de_Aplicações_WEB_Aula_04.webm
video_aulas/Programação_de_Aplicações_WEB_Aula_05.mp4
video_aulas/Programação_de_Aplicações_WEB_Aula_05.webm
video_aulas/Programação_de_Aplicações_WEB_Aula_06.webm
video_aulas/Programação_de_Aplicações_WEB_Aula_07.webm
video_aulas/Programação_de_Aplicações_WEB_Aula_08.webm
video_aulas/Programação_de_Aplicações_WEB_Aula_09.mp4
video_aulas/Programação_de_Aplicações_WEB_Aula_09.webm
video_aulas/Programação_de_Aplicações_WEB_Aula_10.mp4
video_aulas/Programação_de_Aplicações_WEB_Aula_10.webm
video_aulas/Programação_de_Aplicações_WEB_Aula_11.mp4
video_aulas/Programação_de_Aplicações_WEB_Aula_11.webm
video_aulas/Programação_de_Aplicações_WEB_Aula_12.webm
video_aulas/Programação_de_Aplicações_WEB_Aula_14.webm
